In [1]:
import pandas as pd

In [102]:
usage_dir = "task_usage/"
job_dir = "job_events/"

task_usage_header = ['start_time','end_time','job_id','task_index','machine_id', 'mean_cpu_usage',
                     'canon_memory_usage', 'assign_memory_usage', 'unmapped_cache', 'total_cache', 
                     'max_mem', 'mean_io', 'mean_space', 'max_cpu', 'max_io', 'cpi', 'mai', 'sample',
                     'agg_type', 'sample_cpu_usage']

job_header = ['timestamp','missing_info', 'job_id', 'event_type', 'user_name', 'scheduling_class',
              'job_name','logical_job_name']

In [103]:
usage_df = pd.read_csv(usage_dir +'part-00000-of-00500.csv.gz',header=None)
usage_df.columns = task_usage_header

job_df = pd.read_csv(job_dir +'part-00000-of-00500.csv.gz',header=None)
job_df.columns = job_header

job_df.drop(['missing_info','user_name', 'scheduling_class',
              'job_name','logical_job_name'], axis =1,inplace=True)

usage_df.drop(['canon_memory_usage', 'assign_memory_usage', 'unmapped_cache', 'total_cache', 
                     'max_mem', 'mean_io', 'mean_space', 'max_cpu', 'max_io', 'cpi', 'mai', 'sample',
                     'agg_type', 'sample_cpu_usage'], axis =1,inplace=True)

In [119]:
#print(usage_df)
#print(job_df)

#merged_df = pd.merge(usage_df, job_df, on="job_id", how='outer')
#print(merged_df)


new_jobdf = pd.merge(job_df[(job_df['event_type'] == 1)],job_df[ (job_df['event_type'] == 5)], on = "job_id")
#new_jobdf[['timestamp_y']].sub(new_jobdf['timestamp_x'])

#new_jobdf['total_time'] = new_jobdf['timestamp_y'] -  new_jobdf['timestamp_x']
#job_df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)

In [120]:
new_jobdf.drop(['event_type_x',  'event_type_y'], axis =1,inplace=True)

In [121]:
new_jobdf

     timestamp_x      job_id  timestamp_y
0              0  6248963628   4192771352
1              0  6248963712   4192771359
2              0  6248965815   4192771366
3              0  6250129810   3951047412
4              0  6250344086   5158765590
5              0  6250345153   5128936694
6              0  6250804116   5500598004
7              0  6250804305   5448238060
8              0  6250804384   5449673123
9              0  6250804439   5449673148
10             0  6250804502   5451411612
11             0  6250804554   5451411637
12             0  6250804648   5454284104
13             0  6250804691   5454284192
14             0  6250804759   5455924102
15             0  6250804796   5455924176
16             0  6250804844   5456638740
17             0  6250805010   5458333577
18             0  6250805050   5458333868
19             0  6250823292   1317790203
20             0  6250927199   1100826198
21             0  6250927295   1100826203
22             0  6250927668   1100826208
23             0  6251106047   2614964355
24             0  6251270567   1634532401
25             0  6251270661   1634532406
26             0  6251321534   4044045364
27             0  6251323848   4044045369
28             0  6251495621    846270214
29             0  6251496790    846270219
..           ...         ...          ...
238   4841040651  6251969145   5384782944
239   4849383914  6251975264   5384782949
240   4852012019  6251970406   5029574683
241   4857984964  6251978998   5029574688
242   4952018687  6251982423   5276598193
243   4952033959  6251983719   5276598198
244   4952033971  6251983768   5036352137
245   4963151693  6251990152   5036352152
246   5076277798  6251993097   5291557833
247   5076277969  6251993163   5291557838
248   5076278064  6251993247   5291557843
249   5088893023  6251993511   5195888475
250   5091937656  6251994114   5195888480
251   5130370983  6251995587   5445312069
252   5214435315  6252007381   5309539678
253   5231318420  6252008214   5309539683
254   5269800384  6252009172   5564938830
255   5271617929  6252009299   5564938835
256   5284554909  6252010176   5564938840
257   5295833038  6252010552   5531644751
258   5323488807  6252011001   5597982869
259   5327268724  6252011744   5570702414
260   5327268735  6252011742   5597982875
261   5335963521  6252011634   5451434026
262   5337690842  6252012334   5451434041
263   5436836702  6252015118   5508638162
264   5439100313  6252015325   5508638167
265   5476044148  6252016029   5577231365
266   5476044215  6252016098   5577231370
267   5476045586  6252016330   5577231375

[268 rows x 3 columns]

In [122]:
n_jobdf = pd.merge(usage_df,new_jobdf, on = "job_id")

In [123]:
n_jobdf

,start_time,end_time,job_id,task_index,machine_id,mean_cpu_usage,timestamp_x,timestamp_y
0,600000000,900000000,6248963628,0,682406,0.001333,0,4192771352
1,600000000,900000000,6248963628,1,5435123346,0.001364,0,4192771352
2,900000000,1200000000,6248963628,0,682406,0.001968,0,4192771352
3,900000000,1200000000,6248963628,1,5435123346,0.001333,0,4192771352
4,1200000000,1500000000,6248963628,0,682406,0.001791,0,4192771352
5,1200000000,1500000000,6248963628,1,5435123346,0.001278,0,4192771352
6,1500000000,1800000000,6248963628,0,682406,0.001513,0,4192771352
7,1500000000,1800000000,6248963628,1,5435123346,0.001377,0,4192771352
8,1800000000,2100000000,6248963628,0,682406,0.001595,0,4192771352
9,1800000000,2100000000,6248963628,1,5435123346,0.001236,0,4192771352
10,2100000000,2400000000,6248963628,0,682406,0.001707,0,4192771352
11,2100000000,2400000000,6248963628,1,5435123346,0.001352,0,4192771352
12,2400000000,2700000000,6248963628,0,682406,0.001835,0,4192771352
13,2400000000,2700000000,6248963628,1,5435123346,0.001459,0,4192771352
14,2700000000,3000000000,6248963628,0,682406,0.001665,0,4192771352
15,2700000000,3000000000,6248963628,1,5435123346,0.001247,0,4192771352
16,3000000000,3300000000,6248963628,0,682406,0.001783,0,4192771352
17,3000000000,3300000000,6248963628,1,5435123346,0.001282,0,4192771352
18,3300000000,3600000000,6248963628,0,682406,0.001820,0,4192771352
19,3300000000,3600000000,6248963628,1,5435123346,0.001297,0,4192771352
20,3600000000,3900000000,6248963628,0,682406,0.001759,0,4192771352
21,3600000000,3900000000,6248963628,1,5435123346,0.001263,0,4192771352
22,3900000000,4182000000,6248963628,0,682406,0.017940,0,4192771352
23,3900000000,3999000000,6248963628,1,5435123346,0.002426,0,4192771352
24,3999000000,4015000000,6248963628,1,5435123346,0.000184,0,4192771352
25,4015000000,4016000000,6248963628,1,5435123346,0.000000,0,4192771352
26,4182000000,4197000000,6248963628,0,682406,0.000241,0,4192771352
27,4197000000,4199000000,6248963628,0,682406,0.000000,0,4192771352
28,4199000000,4200000000,6248963628,0,682406,0.000000,0,4192771352
29,600000000,900000000,6248963712,0,602980,0.001524,0,4192771359
...,...,...,...,...,...,...,...,...
243733,5589000000,5591000000,6252016098,63,1094236,0.000012,5476044215,5577231370
243734,5591000000,5603000000,6252016098,63,1094236,0.000776,5476044215,5577231370
243735,5595000000,5596000000,6252016098,13,1324120,0.000000,5476044215,5577231370
243736,5596000000,5609000000,6252016098,13,1324120,0.001104,5476044215,5577231370
243737,5603000000,5604000000,6252016098,63,1094236,0.000000,5476044215,5577231370
243738,5609000000,5610000000,6252016098,13,1324120,0.000000,5476044215,5577231370
243739,5480000000,5493000000,6252016029,3,2994475395,0.000000,5476044148,5577231365
243740,5481000000,5494000000,6252016029,1,1436312263,0.000000,5476044148,5577231365
243741,5483000000,5521000000,6252016029,0,705724,0.000000,5476044148,5577231365
243742,5491000000,5505000000,6252016029,2,294823268,0.000000,5476044148,5577231365
243743,5491000000,5503000000,6252016029,4,1694725,0.000000,5476044148,5577231365
243744,5493000000,5566000000,6252016029,3,2994475395,0.001364,5476044148,5577231365
243745,5494000000,5566000000,6252016029,1,1436312263,0.001520,5476044148,5577231365
243746,5503000000,5567000000,6252016029,4,1694725,0.005386,5476044148,5577231365
243747,5505000000,5567000000,6252016029,2,294823268,0.001545,5476044148,5577231365
243748,5521000000,5566000000,6252016029,0,705724,0.000850,5476044148,5577231365
243749,5566000000,5580000000,6252016029,0,705724,0.000247,5476044148,5577231365
243750,5566000000,5586000000,6252016029,1,1436312263,0.000174,5476044148,5577231365
243751,5566000000,5585000000,6252016029,3,2994475395,0.000146,5476044148,5577231365
243752,5567000000,5580000000,6252016029,2,294823268,0.000133,5476044148,5577231365
243753,5567000000,5590000000,6252016029,4,1694725,0.000106,5476044148,5577231365
243754,5580000000,5581000000,6252016029,0,705724,0.000000,5476044148,5577231365
243755,5580000000,5581000000,6252016029,2,294823268,0.000000,5476044148,5577231365
243756,5585000000,5586000000,6252016029,3,2994475395,0.000000,5476044148,5577231365
243757,5586000000,5587000000,6252016029,1,1436312263,0.000000,5476044148,5577231365
243758,5590000000,5591000000,6252016029,4,1694725,0.000000,5476044148,5577231365
243759,5483000000,5589000000,6252016330,0,681910,0.000284,5476045586,5577231375
243760,5589000000,5591000000,6252016330,0,681910,0.003479,5476045586,5577231375
243761,5591000000,5604000000,6252016330,0,681910,0.000270,5476045586,5577231375
243762,5604000000,5605000000,6252016330,0,681910,0.000000,5476045586,5577231375